.container {
    display: flex;
    margin: 3rem;

}

.container ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.card-image img {
    height: 18rem;
    width: auto;
}

.cards {
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid black;
    width: 20rem;
}

.cards div {
    margin: 0.2rem;

}

.card-title {
    font-size: 1.2rem;
    padding-left: 1.2rem;
}

.card-price {
    font-size: 1.3rem;
    padding-left: 1.2rem;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 9rem;
    height: 2rem;
    background-color: beige;
}

.info p {
    max-width: fit-content;
}

@media screen and (max-width: 400px) {

    * {
        font-size: 0.8rem;
    }

    .container {
        margin: 1rem;
    }

    .card-image img {
        height: 7rem;

    }

    .btns {
        flex-direction: column;

    }

    .btn {
        width: 6rem;
    }

    .cards {
        width: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
        padding: 0;
    }

    /* .cards div {
        margin: 0.1rem;
        width: 9rem;
    } */
    .info p {
        max-width: 9rem;
    }

    .card-title {
        font-size: 0.8rem;
        padding-left: 0;
    }

    .card-price {
        font-size: 0.8rem;
        padding-left: 0;
    }
}